.hero {
	background: linear-gradient(180deg, #9bb3a5, #5a9090);
	background-size: 400% 400%;
	padding: 100px 0 60px;
	text-align: center;

	-webkit-animation: BackgroundAnimate 20s ease infinite;
	animation: BackgroundAnimate 20s ease infinite;

	@-webkit-keyframes BackgroundAnimate {
	    0%{background-position:51% 0%}
	    50%{background-position:50% 100%}
	    100%{background-position:51% 0%}
	}
	@keyframes BackgroundAnimate {
	    0%{background-position:51% 0%}
	    50%{background-position:50% 100%}
	    100%{background-position:51% 0%}
	}

	.hero-title {
		color: #fff;
		font-size: 5.6rem;
		font-size: 56px;
		letter-spacing: .05em;
		text-transform: uppercase;
	}
}

#countdown {
	margin: 60px auto 0;
	width: 920px;

	div {
		background: #fff;
		background: rgba(255,255,255,.8);
		border-radius: 5px;
		color: $accentColor;
		display: block;
		float: left;
		font-family: 'Open Sans', sans-serif;
		font-size: 72px;
		font-weight: 700;
		height: 250px;
		line-height: 250px;
		margin: 0 15px;
		text-align: center;
		width: 200px;

	}
}