.hero {
	background: url(images/hero-bg.jpg) center top no-repeat;
	background-size: cover;
	border-bottom: 20px solid $darkBlue;
	box-sizing: border-box;
	clear: both;
	height: 750px;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;

	@include respondTo(mediumScreen) {
		position: relative;
	}

	@include respondTo(smallScreen) {
		background: rgba(90,144,144,.5);
		height: auto;
	}

	.hero-left,
	.hero-right {
		box-sizing: border-box;
		float: left;
		height: 100%;
		margin: 0;
		padding: 40px;
		width: 50%;

		@include respondTo(smallScreen) {
			background: none!important;
		}
	}

	.hero-left {
		background: rgba(155,179,165,.5);
		padding-top: 300px;
	}

	.hero-right {
		background: rgba(90,144,144,.5);

		@include respondTo(smallScreen) {
			width: 100%;
		}
	}

	.hero-title {
		color: #fff;
		font-size: 6.8rem;
		font-size: 68px;
		line-height: 1.3em;
		letter-spacing: .05em;
		margin: 380px 0 0 40px;
		position: absolute;
		text-shadow: 4px 4px 0px $darkBlue;
		text-transform: uppercase;
		width: 70%;
		z-index: 100;

		@include respondTo(mediumScreen) {
			margin: 100px 0 0 0;
			padding: 0 20px;
			text-align: center;
			width: 100%;
		}

		@include respondTo(smallScreen) {
			font-size: 48px;
			position: relative;
		}
	}

	.home-widgets {
		background: $darkBlue;
		bottom: 0;
		padding: 40px;
		position: absolute;
		right: 40px;
		width: 30%;

		@include respondTo(mediumScreen) {
			bottom: 0;
			left: 50%;
			margin-left: -250px;
			right: auto;
			width: 500px;
		}

		@include respondTo(smallScreen) {
			width: 100%;
		}
	}

	.enews-subbox {
		float: left;
		width: 49%;
	}

	#subbox2 {
		margin-left: 2%;
	}

	input[type="email"] {
		clear: both;
		width: 100%;
	}

	#subbutton {
		width: 100%;
	}
}

.launch-heading {
	color: $darkBlue;
	text-transform: uppercase;
}

#countdown {
	color: $mainColor;

	h4 {
		color: #222;
	}
}

.home-countdown-area {
	background: #f5f5f5;
	margin-top: 550px;
	padding: 40px 0;

	.wrap {
		padding: 0px;
	}
}